<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleof.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>
            <div class="col-lg-8 col-md-7 col-sm-6">
                <a href="/admin/clients">Перейти на страницу clients</a>
            </div>
            <div class="col-lg-8 col-md-7 col-sm-6">
                <a href="/admin/collections">Перейти на страницу collections</a>
            </div>
            <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
        </div>
    </div>
    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Выйти</button>
    </form>
</div>
</body>
</html>