<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleof.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="jumbotron text-center">
    <h1>Қош келдіңіздер!!!</h1>
</div>
<div class="container">
    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading" th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
                <span th:case="${true}" sec:authentication="name" ></span>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h3>
                        <a href="/admin/clients">Перейти на страницу clients
                            <img src="https://st2.depositphotos.com/1594308/8302/i/450/depositphotos_83023970-stock-photo-joyful-family-in-supermarket.jpg"
                                 width="500" height="300">
                        </a>
                    </h3>
                </div>
                <div class="col-sm-6">
                    <h3>
                        <a href="/admin/products">Перейти на страницу products
                            <img src="http://am2.dlstatic.ru/publication/preview_big/preview_big_29024.normal.jpeg"
                                 width="500" height="300">
                        </a>
                    </h3>
                </div>
                <div>
                    <h3>
                        <a href="https://vk.com/id445522062"/>
                        <button class="btn btn-md btn-primary btn-block" name="vk.com" type="Submit">А так же у нас есть Vkontakte</button>
                    </h3>
                </div>
                <div>
                    <h3>
                        <a href="https://www.instagram.com/meirambeka229/?hl=ru"/>
                        <button class="btn btn-md btn-success btn-block" name="instagram.com" type="Submit">А так же у нас есть Инстаграм</button>
                    </h3>
                </div>
            </div>
        </div>
        <form th:action="@{/logout}" method="get">
            <button class="btn btn-md btn-danger btn-block" name="registration"
                    type="Submit">Выйти</button>
        </form>
    </div>
</div>
</body>
</html>